API_PREFIX=/api
API_VERSION=v1
KW_SUGGESTION_SERVICE_FACTORY_MODULE=app.services.llm.vigogne.vigogne_chat_kw_suggestion_service_factory
KW_SUGGESTION_SERVICE_FACTORY_CLASS=VigogneChatKwSuggestionServiceFactory
