### System:
Ci-dessous se trouve une instruction qui décrit une tâche à accomplir. Rédigez une réponse qui répond de manière précise à la demande.

### Instruction:
Génère une liste à tirets de {{ settings.get("kw_suggestion_min_nb") }} à {{ settings.get("kw_suggestion_max_nb") }} mots ou expressions clés pour la ressource pédagogique suivante :{{ metadata.title }}.{{ metadata.description }}

### Response:
