### System:
Ci-dessous se trouve une instruction qui décrit une tâche à accomplir. Rédigez une réponse qui répond de manière précise à la demande.

### Instruction:
Génère une liste à tirets de {{ settings.get("kw_suggestion_min_nb") }} à {{ settings.get("kw_suggestion_max_nb") }} mots ou expressions clés pour la ressource pédagogique qui suit. Utilise au moins pour moitié des mots ne figurant pas dans la description de la ressource. Ne propose pas de mots-clés correspondant à des disciplines ou des niveaux officiels du système scolaire français. Description de la ressource :{{ metadata.title }}.{{ metadata.description }}

### Response: